[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-blinka = "*"
adafruit-circuitpython-neopixel = "*"
adafruit-circuitpython-ssd1306 = "*"
colour = "*"
rpi-ws281x = "*"
transitions = "*"
flask-cors = "*"

[dev-packages]
autopep8 = "*"
mypy = "*"
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
