[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rpi-ws281x = "*"
adafruit-circuitpython-neopixel = "*"
adafruit-blinka = "*"
colour = "*"
transitions = "*"
adafruit-circuitpython-ssd1306 = "*"

[dev-packages]
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.7"
